################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureIotGoal/.vs
/AzureIotGoal/DeviceApp/bin
/AzureIotGoal/DeviceApp/obj
/AzureIotGoal/RegistryManagerTestApp/bin
/AzureIotGoal/RegistryManagerTestApp/obj
